.home-poster-box {
    width: 97vw;
    flex-wrap: nowrap;
    padding: 7px;

    .home-poster {
        border: none;
        background: none;
        border-radius: 10px;
        width: 165px;
        margin-left: 7px;
        height: 80px;
    }


}